<!-- app/index/template.hbs -->

<div class="page-container index">

  <div class="text-wrapper">
    <h1>Welcome to Chirper.</h1>
    <p class="tagline">Chirper is a Twitter-clone built with Ember.js</p>
  </div>

  <div class="login-box">
    {{#if errorMessage}}
    	<p class="error">{{errorMessage}}</p>
    {{else}}
      <p class="general">Please Register or Sign In</p>
    {{/if}}

    {{input placeholder="Username" value=username }}
    {{input type="password" escape-press='alertUser' placeholder="Password" value=password }}

    <button class="signup">Sign up</button>
    <button class="login" {{action 'login'}}>Log in</button>
  </div>

</div>
